body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2531px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1928 {
  position:absolute;
  left:31px;
  top:247px;
  width:2505px;
  height:89px;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1929 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1931 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:50px;
}
#u1932 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1933 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:50px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1935 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:50px;
}
#u1936 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1937 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:50px;
}
#u1938 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1939 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:50px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1941 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:50px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1943 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:50px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1945 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:50px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1947 {
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:50px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1949 {
  position:absolute;
  left:1000px;
  top:0px;
  width:100px;
  height:50px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1951 {
  position:absolute;
  left:1100px;
  top:0px;
  width:100px;
  height:50px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1953 {
  position:absolute;
  left:1200px;
  top:0px;
  width:100px;
  height:50px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1955 {
  position:absolute;
  left:1300px;
  top:0px;
  width:100px;
  height:50px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1957 {
  position:absolute;
  left:1400px;
  top:0px;
  width:100px;
  height:50px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1959 {
  position:absolute;
  left:1500px;
  top:0px;
  width:100px;
  height:50px;
}
#u1960 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1961 {
  position:absolute;
  left:1600px;
  top:0px;
  width:100px;
  height:50px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1963 {
  position:absolute;
  left:1700px;
  top:0px;
  width:100px;
  height:50px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1965 {
  position:absolute;
  left:1800px;
  top:0px;
  width:100px;
  height:50px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1967 {
  position:absolute;
  left:1900px;
  top:0px;
  width:100px;
  height:50px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1969 {
  position:absolute;
  left:2000px;
  top:0px;
  width:100px;
  height:50px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1971 {
  position:absolute;
  left:2100px;
  top:0px;
  width:100px;
  height:50px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1973 {
  position:absolute;
  left:2200px;
  top:0px;
  width:100px;
  height:50px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1975 {
  position:absolute;
  left:2300px;
  top:0px;
  width:100px;
  height:50px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1977 {
  position:absolute;
  left:2400px;
  top:0px;
  width:100px;
  height:50px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u1979 {
  position:absolute;
  left:0px;
  top:50px;
  width:100px;
  height:34px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u1981 {
  position:absolute;
  left:100px;
  top:50px;
  width:100px;
  height:34px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u1983 {
  position:absolute;
  left:200px;
  top:50px;
  width:100px;
  height:34px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u1985 {
  position:absolute;
  left:300px;
  top:50px;
  width:100px;
  height:34px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u1987 {
  position:absolute;
  left:400px;
  top:50px;
  width:100px;
  height:34px;
}
#u1988 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u1989 {
  position:absolute;
  left:500px;
  top:50px;
  width:100px;
  height:34px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u1991 {
  position:absolute;
  left:600px;
  top:50px;
  width:100px;
  height:34px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u1993 {
  position:absolute;
  left:700px;
  top:50px;
  width:100px;
  height:34px;
}
#u1994 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u1995 {
  position:absolute;
  left:800px;
  top:50px;
  width:100px;
  height:34px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u1997 {
  position:absolute;
  left:900px;
  top:50px;
  width:100px;
  height:34px;
}
#u1998 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u1999 {
  position:absolute;
  left:1000px;
  top:50px;
  width:100px;
  height:34px;
}
#u2000 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2001 {
  position:absolute;
  left:1100px;
  top:50px;
  width:100px;
  height:34px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2003 {
  position:absolute;
  left:1200px;
  top:50px;
  width:100px;
  height:34px;
}
#u2004 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u2005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2005 {
  position:absolute;
  left:1300px;
  top:50px;
  width:100px;
  height:34px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2007 {
  position:absolute;
  left:1400px;
  top:50px;
  width:100px;
  height:34px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2009 {
  position:absolute;
  left:1500px;
  top:50px;
  width:100px;
  height:34px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2011 {
  position:absolute;
  left:1600px;
  top:50px;
  width:100px;
  height:34px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2013 {
  position:absolute;
  left:1700px;
  top:50px;
  width:100px;
  height:34px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2015 {
  position:absolute;
  left:1800px;
  top:50px;
  width:100px;
  height:34px;
}
#u2016 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2017 {
  position:absolute;
  left:1900px;
  top:50px;
  width:100px;
  height:34px;
}
#u2018 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2019 {
  position:absolute;
  left:2000px;
  top:50px;
  width:100px;
  height:34px;
}
#u2020 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2021 {
  position:absolute;
  left:2100px;
  top:50px;
  width:100px;
  height:34px;
}
#u2022 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2023 {
  position:absolute;
  left:2200px;
  top:50px;
  width:100px;
  height:34px;
}
#u2024 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2025 {
  position:absolute;
  left:2300px;
  top:50px;
  width:100px;
  height:34px;
}
#u2026 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2027 {
  position:absolute;
  left:2400px;
  top:50px;
  width:100px;
  height:34px;
}
#u2028 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:13px;
}
#u2029 {
  position:absolute;
  left:31px;
  top:224px;
  width:63px;
  height:13px;
  font-size:11px;
  color:#000000;
}
#u2030 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u2031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:104px;
}
#u2031 {
  position:absolute;
  left:247px;
  top:47px;
  width:91px;
  height:103px;
}
#u2032 {
  position:absolute;
  left:2px;
  top:21px;
  width:87px;
  word-wrap:break-word;
}
#u2033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:104px;
}
#u2033 {
  position:absolute;
  left:543px;
  top:47px;
  width:91px;
  height:103px;
}
#u2034 {
  position:absolute;
  left:2px;
  top:21px;
  width:87px;
  word-wrap:break-word;
}
#u2035_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:141px;
  height:31px;
}
#u2035 {
  position:absolute;
  left:321px;
  top:183px;
  width:126px;
  height:5px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2036 {
  position:absolute;
  left:2px;
  top:-6px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2037_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:146px;
  height:31px;
}
#u2037 {
  position:absolute;
  left:423px;
  top:185px;
  width:131px;
  height:5px;
  -webkit-transform:rotate(140deg);
  -moz-transform:rotate(140deg);
  -ms-transform:rotate(140deg);
  transform:rotate(140deg);
}
#u2038 {
  position:absolute;
  left:2px;
  top:-6px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:15px;
}
#u2039 {
  position:absolute;
  left:354px;
  top:178px;
  width:161px;
  height:15px;
  text-align:center;
}
#u2040 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u2041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
}
#u2041 {
  position:absolute;
  left:143px;
  top:22px;
  width:300px;
  height:15px;
}
#u2042 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:15px;
}
#u2043 {
  position:absolute;
  left:651px;
  top:217px;
  width:212px;
  height:15px;
  text-align:center;
}
#u2044 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
