body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1213px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1941 {
  position:absolute;
  left:228px;
  top:152px;
  width:128px;
  height:60px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:78px;
}
#u1943 {
  position:absolute;
  left:225px;
  top:301px;
  width:133px;
  height:78px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:24px;
  width:129px;
  word-wrap:break-word;
}
#u1945 {
  position:absolute;
  left:292px;
  top:212px;
  width:0px;
  height:0px;
}
#u1945_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:93px;
}
#u1945_seg1 {
  position:absolute;
  left:-9px;
  top:76px;
  width:18px;
  height:19px;
}
#u1946 {
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:18px;
}
#u1947 {
  position:absolute;
  left:410px;
  top:176px;
  width:591px;
  height:18px;
  font-size:14px;
  color:#000000;
}
#u1948 {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  white-space:nowrap;
}
#u1949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:89px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1949 {
  position:absolute;
  left:76px;
  top:405px;
  width:119px;
  height:89px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:6px;
  width:115px;
  word-wrap:break-word;
}
#u1951 {
  position:absolute;
  left:225px;
  top:340px;
  width:0px;
  height:0px;
}
#u1951_seg0 {
  position:absolute;
  left:-93px;
  top:-4px;
  width:93px;
  height:8px;
}
#u1951_seg1 {
  position:absolute;
  left:-93px;
  top:-4px;
  width:8px;
  height:69px;
}
#u1951_seg2 {
  position:absolute;
  left:-98px;
  top:52px;
  width:18px;
  height:19px;
}
#u1952 {
  position:absolute;
  left:-127px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1953 {
  position:absolute;
  left:387px;
  top:429px;
  width:111px;
  height:41px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:13px;
  width:107px;
  word-wrap:break-word;
}
#u1955 {
  position:absolute;
  left:358px;
  top:340px;
  width:0px;
  height:0px;
}
#u1955_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:89px;
  height:8px;
}
#u1955_seg1 {
  position:absolute;
  left:81px;
  top:-4px;
  width:8px;
  height:93px;
}
#u1955_seg2 {
  position:absolute;
  left:76px;
  top:76px;
  width:18px;
  height:19px;
}
#u1956 {
  position:absolute;
  left:35px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:53px;
}
#u1957 {
  position:absolute;
  left:555px;
  top:417px;
  width:658px;
  height:53px;
  font-size:14px;
  color:#000000;
}
#u1958 {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  white-space:nowrap;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1959 {
  position:absolute;
  left:76px;
  top:561px;
  width:119px;
  height:77px;
}
#u1960 {
  position:absolute;
  left:2px;
  top:24px;
  width:115px;
  word-wrap:break-word;
}
#u1961 {
  position:absolute;
  left:136px;
  top:494px;
  width:0px;
  height:0px;
}
#u1961_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u1961_seg1 {
  position:absolute;
  left:-9px;
  top:54px;
  width:18px;
  height:19px;
}
#u1962 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1963 {
  position:absolute;
  left:76px;
  top:698px;
  width:119px;
  height:77px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u1965 {
  position:absolute;
  left:136px;
  top:638px;
  width:0px;
  height:0px;
}
#u1965_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u1965_seg1 {
  position:absolute;
  left:-9px;
  top:47px;
  width:18px;
  height:19px;
}
#u1966 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1967 {
  position:absolute;
  left:80px;
  top:819px;
  width:111px;
  height:41px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:13px;
  width:107px;
  word-wrap:break-word;
}
#u1969 {
  position:absolute;
  left:136px;
  top:775px;
  width:0px;
  height:0px;
}
#u1969_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u1969_seg1 {
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u1970 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1971 {
  position:absolute;
  left:228px;
  top:42px;
  width:128px;
  height:60px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:22px;
  width:124px;
  word-wrap:break-word;
}
#u1973 {
  position:absolute;
  left:292px;
  top:102px;
  width:0px;
  height:0px;
}
#u1973_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u1973_seg1 {
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:19px;
}
#u1974 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
