body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1213px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1894 {
  position:absolute;
  left:228px;
  top:216px;
  width:128px;
  height:60px;
}
#u1895 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u1896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:78px;
}
#u1896 {
  position:absolute;
  left:225px;
  top:365px;
  width:133px;
  height:78px;
}
#u1897 {
  position:absolute;
  left:2px;
  top:24px;
  width:129px;
  word-wrap:break-word;
}
#u1898 {
  position:absolute;
  left:292px;
  top:276px;
  width:0px;
  height:0px;
}
#u1898_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:93px;
}
#u1898_seg1 {
  position:absolute;
  left:-9px;
  top:76px;
  width:18px;
  height:19px;
}
#u1899 {
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
}
#u1900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:18px;
}
#u1900 {
  position:absolute;
  left:410px;
  top:240px;
  width:591px;
  height:18px;
  font-size:14px;
  color:#000000;
}
#u1901 {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  white-space:nowrap;
}
#u1902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:89px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1902 {
  position:absolute;
  left:76px;
  top:469px;
  width:119px;
  height:89px;
}
#u1903 {
  position:absolute;
  left:2px;
  top:6px;
  width:115px;
  word-wrap:break-word;
}
#u1904 {
  position:absolute;
  left:225px;
  top:404px;
  width:0px;
  height:0px;
}
#u1904_seg0 {
  position:absolute;
  left:-93px;
  top:-4px;
  width:93px;
  height:8px;
}
#u1904_seg1 {
  position:absolute;
  left:-93px;
  top:-4px;
  width:8px;
  height:69px;
}
#u1904_seg2 {
  position:absolute;
  left:-98px;
  top:52px;
  width:18px;
  height:19px;
}
#u1905 {
  position:absolute;
  left:-127px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1906 {
  position:absolute;
  left:387px;
  top:493px;
  width:111px;
  height:41px;
}
#u1907 {
  position:absolute;
  left:2px;
  top:13px;
  width:107px;
  word-wrap:break-word;
}
#u1908 {
  position:absolute;
  left:358px;
  top:404px;
  width:0px;
  height:0px;
}
#u1908_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:89px;
  height:8px;
}
#u1908_seg1 {
  position:absolute;
  left:81px;
  top:-4px;
  width:8px;
  height:93px;
}
#u1908_seg2 {
  position:absolute;
  left:76px;
  top:76px;
  width:18px;
  height:19px;
}
#u1909 {
  position:absolute;
  left:35px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u1910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:53px;
}
#u1910 {
  position:absolute;
  left:555px;
  top:481px;
  width:658px;
  height:53px;
  font-size:14px;
  color:#000000;
}
#u1911 {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  white-space:nowrap;
}
#u1912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1912 {
  position:absolute;
  left:76px;
  top:625px;
  width:119px;
  height:77px;
}
#u1913 {
  position:absolute;
  left:2px;
  top:24px;
  width:115px;
  word-wrap:break-word;
}
#u1914 {
  position:absolute;
  left:136px;
  top:558px;
  width:0px;
  height:0px;
}
#u1914_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u1914_seg1 {
  position:absolute;
  left:-9px;
  top:54px;
  width:18px;
  height:19px;
}
#u1915 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1916 {
  position:absolute;
  left:76px;
  top:762px;
  width:119px;
  height:77px;
}
#u1917 {
  position:absolute;
  left:2px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u1918 {
  position:absolute;
  left:136px;
  top:702px;
  width:0px;
  height:0px;
}
#u1918_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u1918_seg1 {
  position:absolute;
  left:-9px;
  top:47px;
  width:18px;
  height:19px;
}
#u1919 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1920 {
  position:absolute;
  left:80px;
  top:883px;
  width:111px;
  height:41px;
}
#u1921 {
  position:absolute;
  left:2px;
  top:13px;
  width:107px;
  word-wrap:break-word;
}
#u1922 {
  position:absolute;
  left:136px;
  top:839px;
  width:0px;
  height:0px;
}
#u1922_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u1922_seg1 {
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u1923 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1924 {
  position:absolute;
  left:228px;
  top:106px;
  width:128px;
  height:60px;
}
#u1925 {
  position:absolute;
  left:2px;
  top:22px;
  width:124px;
  word-wrap:break-word;
}
#u1926 {
  position:absolute;
  left:292px;
  top:166px;
  width:0px;
  height:0px;
}
#u1926_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u1926_seg1 {
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:19px;
}
#u1927 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
