body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1213px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1015 {
  position:absolute;
  left:228px;
  top:54px;
  width:128px;
  height:60px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:15px;
  width:124px;
  word-wrap:break-word;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:78px;
}
#u1017 {
  position:absolute;
  left:225px;
  top:203px;
  width:133px;
  height:78px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:24px;
  width:129px;
  word-wrap:break-word;
}
#u1019 {
  position:absolute;
  left:292px;
  top:114px;
  width:0px;
  height:0px;
}
#u1019_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:93px;
}
#u1019_seg1 {
  position:absolute;
  left:-9px;
  top:76px;
  width:18px;
  height:19px;
}
#u1020 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:18px;
}
#u1021 {
  position:absolute;
  left:410px;
  top:78px;
  width:591px;
  height:18px;
  font-size:14px;
  color:#000000;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  white-space:nowrap;
}
#u1023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:89px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1023 {
  position:absolute;
  left:76px;
  top:307px;
  width:119px;
  height:89px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:6px;
  width:115px;
  word-wrap:break-word;
}
#u1025 {
  position:absolute;
  left:225px;
  top:242px;
  width:0px;
  height:0px;
}
#u1025_seg0 {
  position:absolute;
  left:-93px;
  top:-4px;
  width:93px;
  height:8px;
}
#u1025_seg1 {
  position:absolute;
  left:-93px;
  top:-4px;
  width:8px;
  height:69px;
}
#u1025_seg2 {
  position:absolute;
  left:-98px;
  top:52px;
  width:18px;
  height:19px;
}
#u1026 {
  position:absolute;
  left:-127px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1027 {
  position:absolute;
  left:387px;
  top:331px;
  width:111px;
  height:41px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:13px;
  width:107px;
  word-wrap:break-word;
}
#u1029 {
  position:absolute;
  left:358px;
  top:242px;
  width:0px;
  height:0px;
}
#u1029_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:89px;
  height:8px;
}
#u1029_seg1 {
  position:absolute;
  left:81px;
  top:-4px;
  width:8px;
  height:93px;
}
#u1029_seg2 {
  position:absolute;
  left:76px;
  top:76px;
  width:18px;
  height:19px;
}
#u1030 {
  position:absolute;
  left:35px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:53px;
}
#u1031 {
  position:absolute;
  left:555px;
  top:319px;
  width:658px;
  height:53px;
  font-size:14px;
  color:#000000;
}
#u1032 {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  white-space:nowrap;
}
#u1033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1033 {
  position:absolute;
  left:76px;
  top:463px;
  width:119px;
  height:77px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:24px;
  width:115px;
  word-wrap:break-word;
}
#u1035 {
  position:absolute;
  left:136px;
  top:396px;
  width:0px;
  height:0px;
}
#u1035_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u1035_seg1 {
  position:absolute;
  left:-9px;
  top:54px;
  width:18px;
  height:19px;
}
#u1036 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1037 {
  position:absolute;
  left:76px;
  top:600px;
  width:119px;
  height:77px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:8px;
  width:115px;
  word-wrap:break-word;
}
#u1039 {
  position:absolute;
  left:136px;
  top:540px;
  width:0px;
  height:0px;
}
#u1039_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u1039_seg1 {
  position:absolute;
  left:-9px;
  top:47px;
  width:18px;
  height:19px;
}
#u1040 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1041 {
  position:absolute;
  left:80px;
  top:721px;
  width:111px;
  height:41px;
}
#u1042 {
  position:absolute;
  left:2px;
  top:13px;
  width:107px;
  word-wrap:break-word;
}
#u1043 {
  position:absolute;
  left:136px;
  top:677px;
  width:0px;
  height:0px;
}
#u1043_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u1043_seg1 {
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u1044 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
